// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.depot_form fieldset 
{
	background: #efe;
}
.depot_form legend 
{
	color: #dfd;
	background: #141;
	font-family: sans-serif;
	padding: 0.2em 1em;
}
.depot_form label
{
	width: 5em;
	float: left;
	text-align: right;
	padding-top: 0.2em;
	margin-right: 0.1em;
	display: block;
}
.depot_form select, .depot_form textarea, .depot_form input 
{
	margin-left: 0.5em;
}
.depot_form .submit
{
	margin-left: 4em;
}
.depot_form div 
{
	margin: 0.5em 0;
}

.orders-table
{
	width:100%;
	border:solid 1px #141;
	th
	{
		background-color: #9c9;
		border-top:solid 1px #141;
		border-right:solid 1px #141;
	}
	td
	{
		border-top:solid 1px #141;
		border-right:solid 1px #141;
		padding:3px;
	}
}
